.home{
  display: flex;
  flex-direction: column;
  background-color: yellow;
  height: 100vh;
  align-items: center;
}
.home-header{
margin: auto;
font-family:'Francois One', sans-serif;
font-size:18vw;
color: red;
text-transform: uppercase;
;
}



.lets-dance-button{
  background-color: rgb(55,189,234);
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  
}

.lets-dance-button:hover{
  transform: scale(2);
}

.lets-dance-button:active{
  background-image: linear-gradient(to bottom right, red, yellow,blue);
  

}