.guests-top-row{
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;

}

.guests-left-row{
  display: flex;
  flex-direction: column;
  margin-left: 15px;

}

.guests-bottom-row{
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}

.guests-header-controls {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.header-controls-container{
  display: flex;
  flex-direction: column;
}


.container{
  display:flex;
  flex-direction: column;
  margin: auto;
}

.control-panel{
display: flex;
}

.lights-button{
  font-family: "Open Sans", sans-serif;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 20px;
  padding:10px 5px;
  width: 75px;
  height: 40px;
 
}

.lights-button:active{
  background-color: yellow;
}

@media only screen and (max-width: 600px) {
  
  .control-panel{
  }

}

