
.footer{
  font-family: 'Francois One', sans-serif;
  margin: auto;
}

.citation-link{
  text-decoration: none;
  color:rgb(50,184,52);

}

.citation-link:link{
  color:rgb(50,184,52);

}

.citation-link:visited{
  color:rgb(50,184,52);
}