/* Header */
.header{
  margin: auto;
  letter-spacing:10%;
  font-size: 75px;
}

/* Home */

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: yellow;
}

.lets-dance-button{
  margin-left:43%;
  margin-top: 25%;
  padding: 10px;
  background-color: rgb(55,189,234);
  font-size: large;
  font-weight: bold;
  color: beige;
  border-radius: 500px;
}

/* Party */

.container{
  display:flex;
  flex-direction: column;
  margin: auto;
}

.control-panel{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
}

.lights-button{
  margin: auto;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding:10px 5px;
  width: 75px;
}

.disco{
  display: flex;
  flex-direction: column;
}

.disco-button{
  margin: auto;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding:10px 5px;
  width: 75px;
}

.disco-button:active{
  background: rgb(255, 0, 0);
}

.disco-ball{
  width: 175px;
  margin-left: 41%;
  padding-bottom: 15px;
}

.refresh-button{
  margin: auto;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding:10px 5px;
  width: 75px;
}

.boombox{
  margin-left:34%;
}

.guest-container{
  display:flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin:auto;
  padding: 10px;

}

.guest{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: 2px solid white;
  }
 
.gif{
  width: 175px;
  padding: 2px;
  padding-bottom: 15px;
}
  
.invite-button{
  margin: auto;
  background-color: rgb(55,189,234);
  padding: 10px;
  font-size: large;
  font-weight: bold;
  color: beige;
  border-radius: 500px;
}

/* Footer */

.footer{
  display: flex;
  margin: auto;
}

.giphy-link{
  text-decoration: none;

}

.giphy-link:link{
  color:rgb(50,184,52);

}

.giphy-link:visited{
  color:rgb(50,184,52);
}