/* .party{
} */
.disco-ball{
  width: 175px;
  padding-left: 25%;
  padding-bottom: 15px;
}


.disco-button{
  margin-left: 46%;
}
 
.footer{
  display: flex;
  margin-left: 39%;
  color:rgb(50,184,52);
  margin-top: 25%;
  padding-bottom: 100%;
}

.gif{
  width: 175px;
  padding-left: 25%;
  padding-bottom: 15px;
}
.guest{
 margin: 25%;
 margin-top: 5px;
 margin-bottom: 5px;
 padding: 25px;
 border: 2px solid white;
}


.header{
  display: flex;
  margin-left: 8%;
  margin-top: 0;
  letter-spacing: 30px;
  font-size: 75px;
}
.home{
  background-color: yellow;
}
.house{
  display:flex;
  flex-direction: column;
  padding: 10px;
}


.invite-button{
  margin-left: 37% ;
}

.lets-dance-button{
  margin-left:43%;
  margin-top: 25%;
  padding: 10px;
  background-color: rgb(55,189,234);
  font-size: large;
  font-weight: bold;
  color: beige;
  border-radius: 500px;

}

.lights{
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 46%;




}