/* Header */
.header{
  display: flex;
  font-family: 'Francois One', sans-serif;
  font-size: 300%;
  margin: auto;
}

/* Home */

.home{
  display: flex;
  flex-direction: column;
  background-color: yellow;
  height: 1000px;
}

.lets-dance-button{
  display: flex;
  background-color: rgb(55,189,234);
  color: white;
  border: 2px solid white;
  border-radius: 500px;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  font-weight: bold;
  margin: auto;
  padding: 10px;
  
}

/* Party */

.container{
  display:flex;
  flex-direction: column;
  margin: auto;
}

.control-panel{
  justify-content: space-around;
  display: flex;
  margin: auto;
  align-items: center;
  width: 600px;

}

.lights-button{
  font-family: "Open Sans", sans-serif;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 20px;
  padding:10px 5px;
  width: 75px;
 
}

.lights-button:active{
  background-color: yellow;
}

.disco{
  display: flex;
  flex-direction: column;
}

.disco-button{
  font-family: "Open Sans", sans-serif;
  margin: auto;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding:10px 5px;
  width: 75px;
}

.disco-button:active{
  background:yellow;
}

.disco-ball{
  border-radius: 100px;
  margin: 10px;
  width: 175px;
 
}

.refresh-button{
  font-family: "Open Sans", sans-serif;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding:10px 5px;
  width: 75px;
  
}

.refresh-button:active{
  background-color: yellow;
}

.boombox{
  margin: auto;
}

.guest-container{
  display:flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin:auto;
  padding: 10px;

}

.guest{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  }
 
.gif{
  width: 150px;
  height: 150px;
  padding: 2px;
  padding-bottom: 15px;
  
}
  
.invite-button{
  display: flex;
  background-color: rgb(55,189,234);
  color: white;
  border: 5px solid white;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  font-weight: bold;
  margin: auto;
  padding: 10px;
}

.invite-button:active{
  background-color: yellow;
}

/* Footer */

.footer{
  display: flex;
  margin: auto;
  background-color: yellow;
  font-family: 'Francois One', sans-serif;
}

.giphy-link{
  text-decoration: none;

}

.giphy-link:link{
  color:rgb(50,184,52);

}

.giphy-link:visited{
  color:rgb(50,184,52);
}